.carousel-item {
  height: 30vh;
}
.card {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
color: #263238;
font-size: 24px;
}

.card-title {
color:#263238
}

.sale {
color: #E53935
}

.sale-badge {
background-color: #E53935
}

/* .custom-select {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
  width: 200px;
}

.custom-select select {
  display: none;
}

.custom-select .selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.custom-select .selected-item {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
}

.custom-select .remove-item {
  margin-left: 4px;
  cursor: pointer;
} */
