{% extends 'base.html' %}

{% block content%}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ object.gambar.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <a href="">
                            <span class="badge bg-dark me-1">{{ object.get_kategori_display }}</span>
                        </a>
                        {% if object.label == 'NEW' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">New</span>
                        </a>
                        {% elif object.label == 'SALE' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Sale</span>
                        </a>
                        {% else %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Bestseller</span>
                        </a>
                        {% endif %}
                    </div>

                    <p class="lead">
                        <strong><h1>{{ object.nama_produk }}</h1></strong>
                        {% if object.harga_diskon %}
                        <span class="me-1">
                            <del>${{ object.harga }}</del>
                        </span>
                        <span>${{ object.harga_diskon }}</span>
                        {% else %}
                        <span>${{ object.harga }}</span>
                        {% endif %}
                    </p>

                    <div class="mb-3" style="padding-top: 24px;">
                        <h4>Detail</h4>
                        <div>
                            <p>Merk : {{ object.merk }}</p>
                            <p>Min Pemesanan : {{ object.min_pesan }}</p>
                            <p>Ukuran Tersedia : </p>
                            {% for item in object.get_list_ukuran %}
                                <span class="badge rounded-pill badge-secondary">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="mb-3" style="padding-top: 24px;">
                        <h4>Deskripsi</h4>
                        <p>{{ object.deskripsi }}</p>
                    </div>

                    <div class="mb-4" style="padding-top: 24px;">
                        <label>Opsi Keranjang :</label>

                        <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary ms-1">
                            <i class="fas fa-plus ms-1"></i>
                        </a>
                        <a href="{{ object.get_reduce_from_cart_url }}" class="btn btn-warning ms-1" >
                            <i class="fas fa-minus ms-1"></i>
                        </a>
                        <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger ms-1" >
                            <i class="fas fa-trash ms-1"></i>
                        </a>
                    </div>
                    
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Informasi Produk</h4>

                <p>{{ object.informasi_produk }}</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="{{ object.gambar.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="{{ object.gambar_satu.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="{{ object.gambar_dua.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
{% endblock content%}
