{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<main>
  <!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 97%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-5 fw-bold ls-tight">
            Login untuk<br /><span class="text-primary">nikmati pengalaman baru</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Cukup masukkan email/username dan password aja kok ! Kalau kamu belum punya akun, <a style="font-weight: bold;" href="{{ signup_url }}">daftar</a> dulu.
          </p>

        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->

                {{ form|crispy }}

                <div class="text-end">
                  <a href="{% url 'account_reset_password' %}">Lupa password?</a>
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <br />
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign In
                </button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>atau login dengan :</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

</main>
{% endblock %}
